<div class="main-section">
    <div class="main-section-left">
        <div class="main-short-info">
            <div class="main-short-info-box">
                <img src="../../assets/img/maps-and-flags.png" alt="">
                <span>
                  Абитуриент должен иметь уровень английского языка (любой другой иностранный язык), требуемый принимающим университетом
                </span>
            </div>
            <div class="main-short-info-box">
                <img src="../../assets/img/maps-and-flags.png" alt="">
                <span>
                  Кандидат должен продемонстрировать уровень GPA - не ниже 3,0, если это не требуется выше университетом-партнером
                </span>
            </div>
        </div>
    </div>
    <div class="main-section-right">
        <div class="main-about-academ">
            <div class="main-about-academ-text-holder">
                <span>
                    Академическая мобильность - перевод студентов на определенный академический период: семестр или учебный год в другое высшее учебное заведение (внутри страны или за рубежом) с обязательной передачей завершенных учебных программ в форме кредитов (стенограмма) в ваше высшее учебное заведение или продолжить обучение в другом вузе.
                </span>
            </div>
        </div>
    </div>
</div>

<div class="lets-get-started">
    <div class="lets-get-started-box">
        <a routerLink="/categories">
            <button class="startBtn">Выбрать программу</button>
        </a>
    </div>
</div>

<div class="academ-cons">
    <div class="academ-cons-box">
        <div class="academ-cons-title">
            <h2>Стань частью программы академической мобильности - учись зарубежом!</h2>
        </div>

        <div class="academ-cons-points">
            <div class="academ-cons-point-holder">
                <div class="academ-cons-point-img-holder">
                    <img src="../../assets/img/p1.jpg" alt="">
                </div>
                <div class="academ-cons-point-text">
                    <h3>Опыт международного общения</h3>
                    <span>Обучаясь за границей студент становится частью многонационального студенческого объединения, что положительно сказывается на построении международной карьеры.</span>
                </div>
            </div>
            <div class="academ-cons-point-holder">
                <div class="academ-cons-point-text">
                    <h3>Престиж диплома</h3>
                    <span>(приложения) европейского университета</span>
                </div>
                <div class="academ-cons-point-img-holder">
                    <img src="../../assets/img/p2.jpg" alt="">
                </div>
            </div>
            <div class="academ-cons-point-holder">
                <div class="academ-cons-point-img-holder">
                    <img src="../../assets/img/p3.jpg" alt="">
                </div>
                <div class="academ-cons-point-text">
                    <h3>Практическая стажировка</h3>
                    <span>Ориентированность на практическую деятельность — преимущество обучения за рубежом. Это возможность пройти стажировку в зарубежной компании с дальнейшим трудоустройством.</span>
                </div>
            </div>
            <div class="academ-cons-point-holder">
                <div class="academ-cons-point-text">
                    <h3>Языковая подготовка</h3>
                    <span>Совершенствование и оттачивание иностранного языка, через постоянное общение, чтение и выполнение заданий на иностранном языке</span>
                </div>
                <div class="academ-cons-point-img-holder">
                    <img src="../../assets/img/p4.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="academ-info">
    <div class="academ-info-box">
        <div class="academ-info-title">
            <h2>Программа академической мобильности,финансируемой из республиканского бюджета Министерства образования и науки Республики Казахстан</h2>
        </div>

        <div class="academ-info-selection">
            <h3>Процесс отбора:</h3>
            <p>
              Основной отбор студентов будет осуществляться Министерством образования и науки Республики Казахстан.</p>
            <p>Кто может участвовать:</p>
                <ul>
                  <li>студенты 2- 3 курсов бакалавриата</li>
                  <li>магистранты</li>
                  <li>докторанты</li>
                </ul>
                Условия для участия:
                <ul>
                  <li>GPA > =2.5</li>
                  <li>IELTS  >= 6.0, Upper Intermediate, B2</li>
                </ul>
            <p>Требуемые документы:</p>
            <ul>
                <li>Официальный транскрипт на английском языке (с подписью Проректора по академическим вопросам)</li>
                <li>Анкета - приложение 1А  </li>
                <li>Заявка по форме -приложение 1B</li>
                <li>Сертификат IELTS 6.0 и выше, сертификат TOEFL 60-79 и выше или Справка с базового факультета (Statement of Student Language Competence)</li>
                <li>Копия паспорта</li>
                <li>Письменное согласие родителей (опекунов, законных представителей) претендента на направление для обучения за рубежом в рамках академической мобильности, на период более двух месяцев (только студентам, не достигшим 18 лет).</li>
                <li>Копии грамот, сертификатов, дипломов, благодарственных писем (при наличии).</li>

              </ul>
        </div>
    </div>
</div>
