<div class="header">
    <div class="header_title">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ac purus ultrices, vulputate elit</div>
    <div class="header_subtitle">Nunc vestibulum finibus quam, at hendrerit nulla placerat ac. Fusce mauris erat, aliquet ut blandit eu, gravida </div>
    <div class="header_buttons">
        <div class="header_buttons__demo">See Demo</div>
        <div class="header_buttons__start" routerLink="/categories">Let's Get Started</div>
    </div>
</div>
<div class="demo">
    <div class="demo_item">
        <div class="demo_item__img"></div>
        <div class="demo_item__right">
            <div class="demo_item__title">Curabitur fermentum pulvinar eros</div>
            <div class="demo_item__text">Nam eu lorem ligula. Morbi quis est non lacus viverra mollis</div>
        </div>
    </div>
    <div class="demo_item">
        <div class="demo_item__img"></div>
        <div class="demo_item__right">
            <div class="demo_item__title">Aliquam vehicula in lorem</div>
            <div class="demo_item__text">Pellentesque lacus leo, pretium et nisi eget, aliquet</div>
        </div>
    </div>
    <div class="demo_item">
        <div class="demo_item__img"></div>
        <div class="demo_item__right">
            <div class="demo_item__title">Quisque viverra, nunc vitae efficitur placerat</div>
            <div class="demo_item__text">Donec eu blandit lectus. Mauris purus sem, blandit at faucibus</div>
        </div>
    </div>
</div>