<div class="login">
    <div class="login-tint">
        <div class="login-form">
            <h2 class="login-title">Авторизация</h2>
            <div class="login-item">
                <div class="label">Эл.почта</div>
                <input type="text" name="username" [(ngModel)]="login.username" autocomplete="off">
            </div>
            <div class="login-item">
                <div class="label">Пароль</div>
                <input type="password" name="password" [(ngModel)]="login.password" autocomplete="off">
            </div>
            <button (click)="onLogin()">Войти</button>
            <a routerLink="/signup">У вас нет аккаунта? Зарегистрируйтесь</a>
        </div>
    </div>
</div>
