.login {
    position: absolute;
    width: 100%;
    height: 100vh;
    margin-top: -80px;
    background-image: url("../../assets/img/main-back.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.login-tint {
    width: 100%;
    height: 100%;
    background-color: rgba(21,30,63,0.9);
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-form {
    background-color: #DBEFD4;
    padding: 40px 40px;
}
.login-title {
    color: #151E3F;
    margin-bottom: 40px;
}
input {
    width: 100%;
    height: 30px;
    font-size: 20px;
    background-color: #DBEFD4;
    padding: 4px;
    outline: none;
    border: none;
    border-bottom: 2px white solid !important;
}
/* Change the white to any color ;) */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px #DBEFD4 inset !important;
}
input:focus {
    outline: none !important;
    border-bottom: 2xp #151E3F solid;
}

.login-item {
    margin-bottom: 20px;
}

button {
    width: 100%;
    background-color: #151E3F;
    color: white;
    border: none;
    font-size: 20px;
    height: 40px;
    cursor: pointer;
    margin-bottom: 20px;
}
a {
    color: #151E3F;
    font-size: 16px;
    text-decoration: none;
}