<div class="signup">
    <form>
        <div class="title">Sing Up</div>
        <div class="item">
            <div class="label">Email</div>
            <input type="text" name="email" [(ngModel)]="signup.email">
        </div>
        <div class="item">
            <div class="label">Password</div>
            <input type="password" name="password" [(ngModel)]="signup.password">
        </div>
        <div class="item">
            <div class="label">Confirm password</div>
            <input type="password" name="password2" [(ngModel)]="signup.password2">
        </div>
        <button (click)="onSignUp()">Sign up</button>
    </form>
</div>