<div class="admin">
    <form>
        <div class="title">Adding new program</div>
        <div class="item">
            <div class="label">Name</div>
            <input type="text" name="name" [(ngModel)]="program.name">
        </div>
        <div class="item">
            <div class="label">Description</div>
            <textarea cols="30" rows="10" name="text" [(ngModel)]="program.text"></textarea>
        </div>
        <div class="filter">
            <div class="item">
                <div class="label">Status</div>
                <input type="text" name="status" [(ngModel)]="program.status">
            </div>
            <div class="item">
                <div class="label">Major</div>
                <input type="text" name="major" [(ngModel)]="program.major">
            </div>
        </div>
        <div *ngIf="!editable">
            <button (click)="onCreate()">+ new program</button>
        </div>
        <div *ngIf="editable">
            <button (click)="onUpdate()">Update</button>
        </div>
    </form>
    <div class="programs_list">
        <div *ngFor="let p of programs">
            <div class="programs_list__item">
                <h4>{{p.name}}</h4>
                <button (click)="onDelete(p.id)">delete</button>
                <button (click)="onEdit(p.id)">edit</button>
            </div>
        </div>
    </div>
</div>