<div class="admin">
    <div class="program-list">
        <h2>Major List</h2>
        <table>
            <tr class="table-tr">
                <th>Name</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
            <tr class="table-tr" *ngFor="let p of programs">
                <td>{{p.name}}</td>
                <td>{{p.text}}</td>
                <td>
                    <button class="deleteBtn" (click)="onDelete(p.id)">delete</button>
                    <button class="editBtn" (click)="onEdit(p.id)">edit</button>
                </td>
            </tr>
        </table>
    </div>

    <div class="edit-form">
        <h2 class="edit-title">Adding new program</h2>
        <div class="item">
            <div class="label">Name</div>
            <input type="text" name="name" [(ngModel)]="program.name">
        </div>
        <div class="item">
            <div class="label">Description</div>
            <textarea cols="30" rows="10" name="text" [(ngModel)]="program.text"></textarea>
        </div>
        <div class="filter">
            <div class="item">
                <div class="label">Status</div>
                <input type="text" name="status" [(ngModel)]="program.status">
            </div>
            <div class="item">
                <div class="label">Major</div>
                <input type="text" name="major" [(ngModel)]="program.major">
            </div>
        </div>
        <div *ngIf="!editable">
            <button class="newBtn" (click)="onCreate()">+ new program</button>
        </div>
        <div *ngIf="editable">
            <button class="editBtn mt20" (click)="onUpdate()">Update</button>
        </div>
    </div>
</div>