.admin {
    width: 100%;
    display: flex;
    margin-top: -80px;
    background-color: #DBEFD4;
    position: absolute;
    min-height: 100vh;
}
.program-list {
    margin-top: 80px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

table { 
    width: 80%; 
    border: 4px double #151E3F; 
    border-collapse: collapse; 
}
th { 
    text-align: left; 
    padding: 5px; 
    border: 1px solid #151E3F;
    font-weight: 600; 
}
td { 
    padding: 5px; 
    border: 1px solid #151E3F; 
}
.deleteBtn {
    padding: 10px;
    border: none;
    background-color: #FC7A57;
    font-size: 16px;
    border-radius: 3px;
    margin-right: 5px;
    cursor: pointer;
}
.editBtn {
    padding: 10px;
    border: none;
    background-color: #A4BAB7;
    font-size: 16px;
    border-radius: 3px;
    margin-right: 5px;
    cursor: pointer;
}
.edit-form {
    border-left: 2px solid #151E3F;
    padding-left: 40px;
    width: 50%;
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.item {
    margin-bottom: 10px;
}
.item .label {
    font-size: 18px;
    margin-bottom: 2px;
}
.item input {
    width: 300px;
    border: none;
    outline: none;
    height: 30px;
    padding: 4px;
    font-size: 18px;
}
.item textarea {
    width: 500px;
    border: none;
    outline: none;
    padding: 4px;
    font-size: 18px;
}
.newBtn {
    margin-top: 20px;
    padding: 10px;
    border: none;
    background-color: #069E2D;
    font-size: 16px;
    border-radius: 3px;
    margin-right: 5px;
    cursor: pointer;
}
.mt20 {
    margin-top: 20px;
}